<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rice Website demo</title>
    <link href="../static/bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="../static/style.css" rel="stylesheet">

    <style>
    
      @import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');
    </style>
    
</head>
  <body>
  
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7d6e59;" >
       
        <a class="navbar-brand" text-white><img src="../static/img/rice.png" width="50" height="40" alt=""><img src="../static/img/wd.png" width="100" height="50" alt=""></a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="userex.html">User Experience</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        
        </div>
      </nav>

            <div class="card text-brown2">           
              <div class="card-img4"></div>
              <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="text-center">
                  <img src="../static/img/food.png" width="80" height="80">
                  <h2>ABOUT</h2>
                  <h3>Our motivation is to provide users with convenient and intelligent store selection services <br>and help users solve the trouble of "what to eat today".</h3>
                </div>
              </div>             
            </div>
            



    <script src="../static/bootstrap.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>