<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../static/bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="../static/style.css" rel="stylesheet">

    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
    </style> -->

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');
    </style>
    
</head>
  <body>
  
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7d6e59;" >
       
        <a class="navbar-brand" text-white><img src="../static/img/rice.png" width="50" height="40"><img src="../static/img/wd.png" width="100" height="50"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="userex.html">User Experience</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        
        </div>
      </nav>
    
   

      <div class="card bg-#7d6e59 text-white">
        <!-- <img src="../static/res2.jpg" class="card-img" alt="..."> -->
        <div class="card-img2"></div>
        <div class="card-img-overlay">
          <h1 class="card-title text-center">Find Your own Restaurant.</i></h1>
        
        </div>
      </div>


      <div class="card" style="background-color:  #e5ded5;">
        <br> 
        <div class="card-body">
          <h3 class="card-title text-center text-brown"><img src="../static/img/food.png" width="80" height="80"><br>FINE DINING IN TAIPEI</h3>
          <h4 class="card-text text-center text-brown2"> We have successfully implemented a fully automatic restaurant recommendation and billing function, <br>providing users with a full range of dining experience. </h4>
         
          <br>
        <br>    
        </div>
      </div>

  
      
        <div class="row text-brown">
          <div class="col-8">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/dTAB_c4E39E" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="text-center">
            <h1>There’s more to <span class="text-green">LineBot</span> than meets the eye.</h1>
            <img src="../static/img/qr.png" width="300" height="300">
          </div>
        </div>
        
  
        <div class="row text-brown">

          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
              <h1 class="text-center">Location</h1>
              <h2 class="text-center">Choose your location.</h2>
            </div>
          </div>

          <div class="col-md-6">
            <img src="../static/img/pic1.png">     
          </div>
        </div>

        <div class="row text-brown">

          <div class="col-md-6">
            <img src="../static/img/pic2.png"> 
          </div> 

          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div>
              <h1 class="text-center">Weather/Emotion/Price</h1>
              <h2 class="text-center">Choose the restaurant you want through three options.</h2>
            </div>
          </div>
        
    
   

    

    <script src="../static/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>