<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../static/bootstrap.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="../static/style.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor.Chart/css/bootstrap.blazor.chart.bundle.min.css" rel="stylesheet" />
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
    </style> -->

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');
    </style>
    
</head>
  <body>
    <!-- <div>name: {{ name }}</div> -->
    <!-- <div>Line ID:{{ userID }}</div>
    <div>Status Message:{{ statusMessage }}</div>
    <div><img src="{{ pictureURL }}"></div> -->
  
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7d6e59;" >
       
        <a class="navbar-brand" text-white><img src="../static/img/rice.png" width="50" height="40"><img src="../static/img/wd.png" width="100" height="50"></a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userex">User Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li> -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="userex.html">User Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
          </ul>
        
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ pictureURL }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">name: {{ name }}</h5>
              <h5 class="card-text">Status Message:{{ statusMessage }}</h5>
            </div>
          </div>
        </div>      
        <div class="col-sm-8">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Emotion/Weather/Price</th>
                <th scope="col">Taste/Weather/Price Range</th>
                <th scope="col">Restaurant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>20230110</td>
                <td>Weather</td>
                <td>Sunny</td>
                <td>McDonald</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>20230801</td>
                <td>Price</td>
                <td>100-200</td>
                <td>Coco</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >20230110</td>
                <td >Emotion</td>
                <td >Happy</td>
                <td>MilkShop</td>
              </tr>
            </tbody>
          </table>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
        <canvas id="barChart"></canvas>
        </div>

        <div class="col-sm-4">
        <canvas id="barChart3"></canvas>
        </div>

        <div class="col-sm-4">
        <canvas id="barChart2"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
        <canvas id="lineChart"></canvas>
      </div>

    
    
  </body>
</html>

      
  

   
    <script src="../static/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/main.js"></script>
    
  </body>
</html>